{% load static %}
{% load humanize %}

<div class="card">
  {% if gamelisting.gamelistingimage_set.first %}
  <img class="card-img-top" src="{{ gamelisting.gamelistingimage_set.first.image.url }}" alt="{{ gamelisting.gamelistingimage_set.first }}">
  {% else %}
  <img class="card-img-top" src="{% static 'core/images/default.jpg' %}" alt="Default image">
  {% endif %}
  <div class="card-body">
    <h4 class="card-title text-center">{{ gamelisting.price }}</h4>
    <p class="card-text hidden-md-down">{{ gamelisting.user }} | {{ gamelisting.condition }}</p>
  </div>
  <div class="card-footer text-center">
    <a href="{{ gamelisting.get_absolute_url }}" class="card-link">View Listing</a>
  </div>
</div>