{% extends "core/base.html" %}
{% load static %}
{% load humanize %}

{% block title %} | {{ game }}{% endblock title %}

{% block content %}

<div class="container">
  <div class="row my-4">
    <div class="col-lg-4 col-12 text-center">
      {% if game.image %}
        <img class="img-fluid" src="{{ game.image.url }}" alt="{{ game.name }}">
      {% else %}
        <img class="img-fluid" src="{% static 'core/images/default.jpg' %}" alt="Default image">
      {% endif %}
    </div>
    <div class="col-lg-8 col-12 text-center text-lg-left mt-sm-4 mt-lg-0">

      {% if request.user.is_superuser %}
      <h2><a href="{{ game.get_admin_url }}">{{ game }}</a> <span class="badge badge-success">New</span></h2>
      {% else %}
      <h2>{{ game }} <span class="badge badge-success">New</span></h2>
      {% endif %}

      <p>Released for the {{ game.platform }}</p>

      <p>Estimated price: <span class="cash">${{ game.get_price|floatformat:2|intcomma }}</span></p>

      <p>{{ game.summary }}</p>

      {% if request.user.is_authenticated %}
        <p><a class="btn btn-info" href="{% url 'gamelistings-create' platform_slug=view.kwargs.platform_slug game_slug=view.kwargs.game_slug %}">Add to your collection</a></p>
      {% else %}
        <p><a href="{% url 'account_login' %}">Add to your collection</a></p>
      {% endif %}

    </div>
  </div>

  <hr>

  <div class="row d-flex justify-content-center">
    <h1>LISTINGS</h1>
  </div>

  <div class="grid">
    {% for gamelisting in game.gamelisting_set.all %}
      {% include "games/gamelisting_card.html" with gamelisting=gamelisting %}
    {% endfor %}
  </div>

</div>
{% endblock content %}