{% extends "core/base.html" %}
{% load static %}

{% block title %}| {{ console.baseconsole.name }}{% endblock title %}

{% block content %}
  <div class="container">

    <br>

    <div class="row">
      <div class="col-4">
        {% if console.image %}
          <img class="img-responsive" style="width: 100%" src="{{ console.image.url }}" alt="{{ console.baseconsole.name }}">
        {% else %}
          <img class="img-responsive" style="width: 100%" src="{% static 'core/images/default.png' %}" alt="Default image">
        {% endif %}
      </div>
      <div class="col-8">

        <p>{{ console.baseconsole.name }}</p>

        <p>{{ console.edition }}</p>

        <p>{{ console.slug }}</p>

        <p>
          <a href="https://amazon.com/dp/{{ console.asin }}" target="_blank"><img height="50" src="{% static 'games/images/amazon_logo.png' %}" alt="Amazon Logo"></a>

          &nbsp;

          <a href="https://ebay.com/p/{{ console.epid }}" target="_blank"><img height="50" src="{% static 'games/images/ebay_logo.png' %}" alt="Ebay Logo"></a>

        </p>

        {% if request.user.is_superuser %}
          <p>
            <a href="{% url 'consoles:update' pk=console.pk %}">Edit</a>
            <a href="{% url 'consoles:delete' pk=console.pk %}">Delete</a>
          </p>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock content %}