{% extends "core/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}| Games{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    {% for game in games %}
    <div class="col s12 m6 l4">
      <div class="card sticky-action medium">
        <div class="card-image waves-effect waves-block waves-light">
          {% if game.image %}
          <img class="activator" src="{{ game.image.url }}">
          {% else %}
          <img class="activator" src="{% static 'core/images/default.png' %}">
          {% endif %}
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ game.basegame.name }}<i class="material-icons right">more_vert</i></span>
          <p class="card-text"># of Sales: {{ game.gamesale_set.count }}</p>
          <p class="card-text">Estimated Price: <span style="color: green">${{ game.get_price|floatformat:2|intcomma }}</span></p>
        </div>
        <div class="card-action">
            <a href="{{ game.get_absolute_url }}">View Listings</a>
          </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ game.basegame.name }}<i class="material-icons right">close</i></span>
          <p>{{ game.basegame.summary }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}