{% extends "core/base.html" %}
{% load static %}
{% load humanize %}


{% block title %}
  
{% endblock title %}

{% block head %}

{% endblock head %}

{% block content %}

<div class="container">

  <div class="row">

    <div class="col l4 m12 center-align">
    {% if game.image %}
      <img class="responsive-img" src="{{ game.image.url }}" alt="{{ game }}">
    {% else %}
      <img class="responsive-img" src="{% static 'core/images/default.png' %}" alt="Default image">
    {% endif %}
    </div>

    <div class="col l8 m12">

      {% if request.user.is_superuser %}
      <h2><a href="{{ game.get_admin_url }}">{{ game }}</a> <span class="chip">New</span></h2>
      {% else %}
      <h2>{{ game }} <span class="chip">New</span></h2>
      {% endif %}

      <p>Released for the {{ game.baseconsole }}</p>

      <p>Estimated price: <span class="cash">${{ game.get_price|floatformat:2|intcomma }}</span></p>

      <p>{{ game.basegame.summary }}</p>

      {% if request.user.is_authenticated %}
        <p><a class="btn" href="{% url 'gamelistings-create' baseconsole_slug=view.kwargs.baseconsole_slug game_slug=view.kwargs.game_slug %}">Add to your collection</a></p>
      {% else %}
        <p><a class="btn" href="{% url 'account_login' %}">Add to your collection</a></p>
      {% endif %}

    </div>

  </div>

  <hr>

  <div class="row center-align">
    <h3>LISTINGS</h3>
  </div>

  <div class="row">
      {% for gamelisting in game.gamelisting_set.all %}
      <div class="col s12 m6 l4">
        <div class="card sticky-action medium">
          <div class="card-image">
            {% if gamelisting.gamelistingimage_set.first %}
            <img src="{{ gamelisting.gamelistingimage_set.first.image.url }}">
            {% else %}
            <img src="{% static 'core/images/default.png' %}">
            {% endif %}
          </div>
          <div class="card-content">
            <p class="card-text">{{ gamelisting.price }}</p>
            <p class="card-text">{{ gamelisting.user }} | {{ gamelisting.condition }}</p>
          </div>
          <div class="card-action">
            <a href="{{ gamelisting.get_absolute_url }}">View More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

</div>

  {% comment %}
    <div class="row card-deck">
      {% for gamelisting in game.gamelisting_set.all %}
        <div class="col-6 col-sm-4 col-lg-3" style="padding: 1.5rem">
          <div class="card">
            {% if gamelisting.gamelistingimage_set.first %}
              <img class="card-img-top" style="width: 100%" src="{{ gamelisting.gamelistingimage_set.first.image.url }}" alt="{{ gamelisting.gamelistingimage_set.first }}">
            {% else %}
              <img class="card-img-top" style="width: 100%" src="{% static 'core/images/default.png' %}" alt="Default image">
            {% endif %}
            <div class="card-block">
              <h4 class="card-title text-center">{{ gamelisting.price }}</h4>
              <p class="card-text hidden-md-down">{{ gamelisting.user }} | {{ gamelisting.condition }}</p>
            </div>
            <div class="card-footer text-center">
              <a href="{{ gamelisting.get_absolute_url }}" class="card-link">View More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endcomment %}
{% endblock content %}