<!DOCTYPE html>
{% extends 'core/base.html' %}
{% load static %}

{% block title %}| {{ game.basegame.name }}{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}

  <div class="container">
    <br>
    <h2>{{ game.basegame.name }}</h2>
    {% for keyword in game.basegame.keywords.all %}
      <span class="badge badge-pill badge-info">{{ keyword.name }}</span>
    {% endfor %}
    <p>{{ game.basegame.summary }}</p>

    <p>Release Date: {{ game.basegame.first_release_date }}</p>

  </div>
{% endblock content %}