{% extends "core/base.html" %}
{% load static %}

{% block title %}
  
{% endblock title %}

{% block head %}

{% endblock head %}

{% block content %}
  <div class="container">

    <br>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if games.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ games.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
        {% endif %}
        {% if games.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ games.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <div class="row card-deck">
      {% for game in games %}
        <div class="col-6 col-sm-4 col-lg-3" style="padding: 1.5rem">
          <div class="card">
            {% if game.image %}
              <img class="card-img-top" style="width: 100%" src="{{ game.image.url }}" alt="{{ game.basegame.name }}">
            {% else %}
              <img class="card-img-top" style="width: 100%" src="{% static 'core/images/default.png' %}" alt="Default image">
            {% endif %}
            <div class="card-block">
              <h4 class="card-title text-center">{{ game.basegame.name }}</h4>
              <p class="card-text hidden-md-down">{{ game.console }}</p>
            </div>
            <div class="card-footer text-center">
              <a href="{{ game.get_absolute_url }}" class="card-link">View More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}