{% extends "core/base.html" %}
{% load static %}

{% block title %}| {{ basegame.name }}{% endblock title %}

{% block content %}
  <br>

  <div class="container">
    <h1>{{ basegame.name }}</h1>
    <p>{{ basegame.summary }}</p>
    <p>{{ basegame.popularity }}</p>

    {% for keyword in basegame.keywords.all %}
    <p>{{ keyword }}</p>
    {% endfor %}

    {% for collection in basegame.collections.all %}
    <p>{{ collection }}</p>
    {% endfor %}

    <p>{{ basegame.franchise }}</p>
    <p>{{ basegame.total_rating }}</p>
    <p>{{ basegame.total_rating_count }}</p>

    <p><a href="{% url 'basegames:games-create' basegame_pk=basegame.pk %}">Create another game</a></p>

    <div class="row card-deck">
      {% for game in basegame.game_set.all %}
        <div class="col-6 col-sm-4 col-lg-3" style="padding: 1.5rem">
          <div class="card">
            {% if game.image %}
              <img class="card-img-top" style="width: 100%" src="{{ game.image.url }}" alt="{{ game.basegame.name }}">
            {% else %}
              <img class="card-img-top" style="width: 100%" src="{% static 'core/images/default.png' %}" alt="Default image">
            {% endif %}
            <div class="card-block">
              <h4 class="card-title text-center">{{ game.basegame.name }}</h4>
              <p class="card-text">{{ game.baseconsole }}</p>
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'basegames:games-detail' basegame_pk=basegame.pk game_pk=game.pk %}" class="card-link">View More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if request.user.is_superuser %}
      <p>
        <a href="{% url 'basegames:update' basegame_pk=basegame.pk %}">Update</a>
        <a href="{% url 'basegames:delete' basegame_pk=basegame.pk %}">Delete</a>
      </p>
    {% endif %}
  </div>
{% endblock content %}