{% extends "core/base.html" %}
{% load static %}

{% block title %}| {{ basegame.name }}{% endblock title %}

{% block content %}

<div class="container">
  <h1>{{ basegame.name }}</h1>
  <p>{{ basegame.summary }}</p>

  <p>Franchise: {{ basegame.franchise }}</p>

  {% if request.user.is_superuser %}
    <p>
      <a href="{% url 'basegames:update' basegame_pk=basegame.pk %}">Update</a>
      <a href="{% url 'basegames:delete' basegame_pk=basegame.pk %}">Delete</a>
    </p>
  {% endif %}

  <div class="grid">
    {% for game in basegame.game_set.all %}
      {% include "games/game_card.html" with game=game admin=True %}
    {% endfor %}
    {% if request.user.is_superuser %}
    <div class="card">
      <img class="card-img-top" src="{% static 'core/images/default.png' %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">Add a game</h4>
      </div>
      <div class="card-footer text-center">
        <a href="{% url 'basegames:games-create' basegame_pk=basegame.pk %}" class="card-link">Add</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}