{% extends "core/base.html" %}
{% load static %}

{% block title %}| {{ baseconsole.name }}{% endblock title %}

{% block content %}
  <div class="container">
    <h1>{{ baseconsole.name }}</h1>

    <p><a href="{% url 'baseconsoles:update' baseconsole_pk=baseconsole.pk %}">Update this baseconsole</a></p>
    <p><a href="{% url 'baseconsoles:delete' baseconsole_pk=baseconsole.pk %}">Delete this baseconsole</a></p>

    <div class="row card-deck">
      {% for console in baseconsole.console_set.all %}
        <div class="col-6 col-sm-4 col-lg-3" style="padding: 1.5rem">
          <div class="card">
            {% if console.image %}
              <img class="card-img-top" style="width: 100%" src="{{ console.image.url }}" alt="{{ baseconsole.name }}">
            {% else %}
              <img class="card-img-top" style="width: 100%" src="{% static 'core/images/default.png' %}" alt="Default image">
            {% endif %}
            <div class="card-block">
              <h4 class="card-title text-center">{{ console.edition }}</h4>
              <p class="card-text hidden-md-down"></p>
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'baseconsoles:consoles-detail' baseconsole_pk=baseconsole.pk console_pk=console.pk %}" class="card-link">View More</a>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if request.user.is_superuser %}
      <div class="col-6 col-sm-4 col-lg-3" style="padding: 1.5rem">
          <div class="card">
            <img class="card-img-top" style="width: 100%" src="{% static 'core/images/default.png' %}" alt="Default image">
            <div class="card-block">
              <h4 class="card-title text-center">Add Another Console</h4>
              <p class="card-text hidden-md-down"></p>
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'baseconsoles:consoles-create' baseconsole_pk=baseconsole.pk %}" class="card-link">Add</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

  </div>
{% endblock content %}