{% extends "core/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}| {{ console.baseconsole.name }}{% endblock title %}

{% block content %}
  <div class="container">

    <br>

    <div class="row">
      <div class="col-4">
        {% if console.image %}
          <img class="img-responsive" style="width: 100%" src="{{ console.image.url }}" alt="{{ console.baseconsole.name }}">
        {% else %}
          <img class="img-responsive" style="width: 100%" src="{% static 'core/images/default.jpg' %}" alt="Default image">
        {% endif %}
      </div>
      <div class="col-8">

        <p>{{ console.baseconsole.name }}</p>

        <p>{{ console.edition }}</p>

        <p>{{ console.slug }}</p>

        <p><a href="{% url 'baseconsoles:detail' baseconsole_pk=console.baseconsole.pk %}">Back to the baseconsole</a></p>

        <p>
          <a href="https://amazon.com/dp/{{ console.asin }}" target="_blank"><img height="50" src="{% static 'games/images/amazon_logo.png' %}" alt="Amazon Logo"></a>

          &nbsp;

          <a href="https://ebay.com/p/{{ console.epid }}" target="_blank"><img height="50" src="{% static 'games/images/ebay_logo.png' %}" alt="Ebay Logo"></a>

        </p>

        {% if request.user.is_superuser %}
          <p>
            <a href="{% url 'baseconsoles:consoles-update' baseconsole_pk=console.baseconsole.pk console_pk=console.pk %}">Update</a>
            <a href="{% url 'baseconsoles:consoles-delete' baseconsole_pk=console.baseconsole.pk console_pk=console.pk %}">Delete</a>
          </p>
        {% endif %}

      </div>
    </div>

    <hr style="border-color:black;">

    <br>

    <div class="row" style="justify-content: center">
      <br>
      <h1>SALES</h1>
    </div>

    <br>

    <div class="row">
      {% if console.consolesale.count == 0 %}
        <h1>There is no sales data recorded for this console</h1>
      {% else %}
        <table class="table table-striped">
          <thead style="background-color: #20bfd2">
              <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Condition</th>
                  <th>Date Sold</th>
                  <th>Price</th>
              </tr>
          </thead>
          <tbody>
              {% for sale in console.consolesale_set.all %}
                  <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td><a href="{{ sale.url }}">{{ sale.title }}</a></td>
                      <td>{{ sale.condition }}</td>
                      <td>{{ sale.sold }}</td>
                      <td style="color: green">${{ sale.price|floatformat:2|intcomma }}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>

  </div>
{% endblock content %}