<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gameboyz {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Poppins|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    {% block head %}
    {% endblock head %}

  </head>
  <body>

    {% include "core/navbar.html" %}

    <main>
      {% block content %}
    {% endblock content %}
    </main>

    {% include "core/footer.html" %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'core/js/base.js' %}"></script>
  </body>
</html>