<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gameboyz {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Poppins|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    {% block head %}
    {% endblock head %}

  </head>
  <body>

    {% include "core/navbar.html" %}

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="alert alert-info" role="alert">{{ message}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block content %}
    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        $(".alert").each(function () {
          $(this).slideDown().delay(1000).slideUp();
        });
      });
    </script>
    {% block javascript %}
    
    {% endblock javascript %}
  </body>
</html>