<!DOCTYPE html>
{% extends 'core/base.html' %}
{% load static %}

{% block title %}| Home{% endblock title %}

{% block content %}

<div class="container">

{% for baseconsole in baseconsoles %}
{% if forloop.first %}<div class="card-deck my-4">{% endif %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title text-center">{{ baseconsole.name }}</h4>
  </div>
  <div class="card-footer text-center">
    <a href="{{ baseconsole.get_absolute_url }}" class="card-link">View More</a>
  </div>
</div>
{% if forloop.counter|divisibleby:2 %}</div><div class="card-deck my-4">{% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}

</div>

{% endblock content %}