<!DOCTYPE html>
{% extends 'core/base.html' %}
{% load static %}

{% block title %}| Home{% endblock title %}

{% block content %}

<div class="container pb-4">

  <div class="jumbotron mt-3 text-center">
    <h1 class="display-3">Take Back Gaming</h1>
    <p class="lead">Search for video games for sale on our site</p>

    <form class="form-inline mt-3 justify-content-center">
      <input type="text" class="form-control" name="q" placeholder="Search for games...">
      <select name="platform" class="form-control">
        <option value="all" selected>All</option>
        {% for baseconsole in baseconsoles %}
        <option value="{{ baseconsole.slug }}">{{ baseconsole }}</option>
        {% endfor %}
      </select>
      <button class="btn btn-info search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>

  </div>

  <div class="grid">
    {% for game in games %}
      {% include "games/game_card.html" with game=game admin=False %}
    {% endfor %}
  </div>

</div>

{% endblock content %}