<!DOCTYPE html>
{% load static %}

<nav>
  <div class="nav-wrapper">
    <a href="{% url 'home' %}" class="brand-logo center"><img class="responsive-img" src="{% static 'core/images/logo_white.png' %}" alt="gameboyz icon"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a class="dropdown-button" data-activates="platform-dropdown">Platforms<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        {% if request.user.is_staff %}
        <li><a class="dropdown-button" data-activates="admin-dropdown">Administration<i class="material-icons right">arrow_drop_down</i></a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'collection' username=request.user.username %}">Profile</a></li>
        <li>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button class="btn-flat white-text" type="submit">Logout</button>
          </form>
        </li>
        {% else %}
        <li><button data-target="login-modal" class="btn-flat modal-trigger white-text">Login / Sign Up</button></li>
        {% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'home' %}">Home</a></li>
      </ul>
  </div>
</nav>

<ul id="admin-dropdown" class="dropdown-content">
  <li><a href="{% url 'basegames:list' %}">Games</a></li>
  <li><a href="{% url 'baseconsoles:list' %}">Consoles</a></li>
  <li><a href="{% url 'sales:overview' %}">Sales</a></li>
</ul>

{% if request.user.is_staff %}
<ul id="admin-dropdown" class="dropdown-content">
  <li><a href="{% url 'basegames:list' %}">Games</a></li>
  <li><a href="{% url 'baseconsoles:list' %}">Consoles</a></li>
  <li><a href="{% url 'sales:overview' %}">Sales</a></li>
</ul>
{% endif %}

{% if not request.user.is_authenticated %}
<div id="login-modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#login">Login</a></li>
          <li class="tab col s6"><a href="#signup">Sign up</a></li>
        </ul>
      </div>
      <div id="login" class="col s12">
        <form method="post" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ login_form.as_p }}
          <input type="submit" value="Submit" class="btn btn-success">
        </form>
      </div>
      <div id="signup" class="col s12">
        <form method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ signup_form.as_p }}
          <input type="submit" value="Submit" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}