<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'core/images/logo_white.png' %}" alt="gameboyz icon">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-toggle">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'collection' username=request.user.username %}">Profile</a>
      </li>
      {% endif %}

      {% if request.user.is_staff %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="admin-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="admin-dropdown">
          <a class="dropdown-item" href="{% url 'basegames:list' %}">Games</a>
          <a class="dropdown-item" href="{% url 'baseconsoles:list' %}">Consoles</a>
          <a class="dropdown-item" href="{% url 'sales:overview' %}">Sales</a>
        </div>
      </li>
      {% endif %}

    </ul>
    <ul class="navbar-nav">
      {% if search %}
      <form class="form-inline" method="get" action=".">
        <input class="form-control mr-2" type="text" name="q" placeholder="Search">
        <button class="btn btn-outline-light mr-2" type="submit">Search</button>
      </form>
      {% endif %}
      {% if request.user.is_authenticated %}
      <form class="form-inline" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button class="btn btn-outline-light" type="submit">Logout</button>
      </form>
      {% else %}
      <button type="button" class="btn btn-outline-light mr-2" data-toggle="modal" data-target="#login-modal">Login</button>

      <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
      {% endif %}
    </ul>
  </div>
</nav>

{% if not request.user.is_authenticated %}
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login-modal-label">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ login_form|crispy }}
          <input type="submit" value="Submit" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signup-modal-label">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ signup_form|crispy }}
          <input type="submit" value="Submit" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}