{% extends "core/base.html" %}
{% load static %}

{% block content %}
  <div class="container">

    <br>

    <div class="row" style="justify-content: center">
      <br>
      <h1>GAMES</h1>
    </div>

    <div class="row card-deck">
      {% for game in games %}
        <div class="col-6 col-sm-4 col-lg-3" style="padding: 1.5rem">
          <div class="card">
            {% if game.image %}
              <img class="card-img-top" style="width: 100%" src="{{ game.image.url }}" alt="{{ game.basegame.name }}">
            {% else %}
              <img class="card-img-top" style="width: 100%" src="{% static 'core/images/default.png' %}" alt="Default image">
            {% endif %}
            <div class="card-block">
              <h4 class="card-title text-center">{{ game.basegame.name }}</h4>
              <p class="card-text hidden-md-down">{{ game.console }}</p>
            </div>
            <div class="card-footer text-center">
              <a href="{{ game.get_absolute_url }}" class="card-link">View More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="row" style="justify-content: center">
      <br>
      <h1>CONSOLES</h1>
    </div>

    <div class="row card-deck">
      {% for console in consoles %}
        <div class="col-6 col-sm-4 col-lg-3" style="padding: 1.5rem">
          <div class="card">
            {% if console.image %}
              <img class="card-img-top" style="width: 100%" src="{{ console.image.url }}" alt="{{ baseconsole.name }}">
            {% else %}
              <img class="card-img-top" style="width: 100%" src="{% static 'core/images/default.png' %}" alt="Default image">
            {% endif %}
            <div class="card-block">
              <h4 class="card-title text-center">{{ console.edition }}</h4>
              <p class="card-text hidden-md-down"></p>
            </div>
            <div class="card-footer text-center">
              <a href="{{ console.get_absolute_url }}" class="card-link">View More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}