{% extends "core/base.html" %}
{% load static %}

{% block content %}
  <div class="container">

    <h1>{{ baseconsole }} Games</h1>

    {% for game in games %}
    {% if forloop.first %}<div class="row my-4">{% endif %}
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card h-100">
        {% if game.image %}
        <img class="card-img-top" src="{{ game.image.url }}" alt="Card image cap">
        {% else %}
        <img class="card-img-top" src="{% static 'core/images/default.jpg' %}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title text-center">{{ game }}</h4>
        </div>
        <div class="card-footer text-center">
          <a href="{{ game.get_absolute_url }}" class="card-link">View More</a>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}</div>
    <div class="row my-4">
    {% elif forloop.counter|divisibleby:2 %}
    <div class="w-100 d-block d-lg-none my-2 my-lg-0"></div>
    {% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}

    <h1>{{ baseconsole }} Consoles</h1>

    {% for console in consoles %}
    {% if forloop.first %}<div class="card-deck my-4">{% endif %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">{{ console.baseconsole.name }} {{ console.edition }}</h4>
      </div>
      <div class="card-footer text-center">
        <a href="" class="card-link">View More</a>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}</div><div class="card-deck my-4">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}

  </div>
{% endblock content %}